## Import pandas so we can use this library

In [2]:
import pandas as pd

### Import Metadata Values for 96W Plates 
values corresponding to wellID. Import with no index collumn set so that we can use the A-H collumn later for restructing the dataset.

Import values for buffer conditions

In [7]:
lonza_nucleofection_buffer_96w= pd.read_csv('lonza_nucleofection_buffer.csv') # read in csv 
print(lonza_nucleofection_buffer_96w.head())
print(lonza_nucleofection_buffer_96w.shape)

  Unnamed: 0          1          2          3          4          5  \
0          A  Buffer_P1  Buffer_P1  Buffer_P1  Buffer_P1  Buffer_P2
1          B  Buffer_P1  Buffer_P1  Buffer_P1  Buffer_P1  Buffer_P2
2          C  Buffer_P1  Buffer_P1  Buffer_P1  Buffer_P1  Buffer_P2
3          D  Buffer_P1  Buffer_P1  Buffer_P1  Buffer_P1  Buffer_P2
4          E  Buffer_P1  Buffer_P1  Buffer_P1  Buffer_P1  Buffer_P2

           6          7          8          9         10         11         12
0  Buffer_P2  Buffer_P2  Buffer_P2  Buffer_P3  Buffer_P3  Buffer_P3  Buffer_P3
1  Buffer_P2  Buffer_P2  Buffer_P2  Buffer_P3  Buffer_P3  Buffer_P3  Buffer_P3
2  Buffer_P2  Buffer_P2  Buffer_P2  Buffer_P3  Buffer_P3  Buffer_P3  Buffer_P3
3  Buffer_P2  Buffer_P2  Buffer_P2  Buffer_P3  Buffer_P3  Buffer_P3  Buffer_P3
4  Buffer_P2  Buffer_P2  Buffer_P2  Buffer_P3  Buffer_P3  Buffer_P3  Buffer_P3
(8, 13)

import values for experimental or control designation

In [18]:
experimental_or_control_well= pd.read_csv('experimental_or_control.csv') # read in csv 
print(experimental_or_control_well.head())
print(experimental_or_control_well.shape)

  Unnamed: 0    1    2    3    4    5    6    7    8    9   10   11   12
0          A  exp  exp  exp  exp  exp  exp  exp  exp  exp  exp  exp  exp
1          B  exp  exp  exp  exp  exp  exp  exp  exp  exp  exp  exp  exp
2          C  exp  exp  exp  exp  exp  exp  exp  exp  exp  exp  exp  exp
3          D  exp  exp  exp  exp  exp  exp  exp  exp  exp  exp  exp  exp
4          E  exp  exp  exp  exp  exp  exp  exp  exp  exp  exp  exp  exp
(8, 13)

### Change column names 
change unnamed: 0 to test_plate_96w_row_name (plate csv name _ row_names) so that we know that these indexes correspond to this plate. Do so by passing the name of the collumn to be renamed into a dictonary where you give the value of the name to be changed and the desired new name.

### change name of experimental or control well

In [22]:
experimental_or_control_well_renamed=experimental_or_control_well.rename(columns={"Unnamed: 0":"experimental_or_control_well_row_letter"})
print(experimental_or_control_well_renamed.shape)
print(experimental_or_control_well_renamed.head())

(8, 13)
  experimental_or_control_well_row_letter    1    2    3    4    5    6    7  \
0                                       A  exp  exp  exp  exp  exp  exp  exp
1                                       B  exp  exp  exp  exp  exp  exp  exp
2                                       C  exp  exp  exp  exp  exp  exp  exp
3                                       D  exp  exp  exp  exp  exp  exp  exp
4                                       E  exp  exp  exp  exp  exp  exp  exp

     8    9   10   11   12
0  exp  exp  exp  exp  exp
1  exp  exp  exp  exp  exp
2  exp  exp  exp  exp  exp
3  exp  exp  exp  exp  exp
4  exp  exp  exp  exp  exp

### change name for loza nucleofection buffer

In [23]:
lonza_nucleofection_buffer_96w_renamed=lonza_nucleofection_buffer_96w.rename(columns={"Unnamed: 0":"lonza_nucleofection_buffer_row_letter"})
print(lonza_nucleofection_buffer_96w_renamed.shape)
print(lonza_nucleofection_buffer_96w_renamed.head())

(8, 13)
  lonza_nucleofection_buffer_row_letter          1          2          3  \
0                                     A  Buffer_P1  Buffer_P1  Buffer_P1
1                                     B  Buffer_P1  Buffer_P1  Buffer_P1
2                                     C  Buffer_P1  Buffer_P1  Buffer_P1
3                                     D  Buffer_P1  Buffer_P1  Buffer_P1
4                                     E  Buffer_P1  Buffer_P1  Buffer_P1

           4          5          6          7          8          9  \
0  Buffer_P1  Buffer_P2  Buffer_P2  Buffer_P2  Buffer_P2  Buffer_P3
1  Buffer_P1  Buffer_P2  Buffer_P2  Buffer_P2  Buffer_P2  Buffer_P3
2  Buffer_P1  Buffer_P2  Buffer_P2  Buffer_P2  Buffer_P2  Buffer_P3
3  Buffer_P1  Buffer_P2  Buffer_P2  Buffer_P2  Buffer_P2  Buffer_P3
4  Buffer_P1  Buffer_P2  Buffer_P2  Buffer_P2  Buffer_P2  Buffer_P3

          10         11         12
0  Buffer_P3  Buffer_P3  Buffer_P3
1  Buffer_P3  Buffer_P3  Buffer_P3
2  Buffer_P3  Buffer_P3  Buffer_P3
3  Buffer_P3  Buffer_P3  Buffer_P3
4  Buffer_P3  Buffer_P3  Buffer_P3

## Other option that did not work to ask Olga about

### Restructure the dataset based on the row labels of a 96 well plate. 
For the pd.melt function we take id_vars which is the variable for which we want get the values corresponding to other variables in the table. In this case, we want the values for all other variables, which are all other collumns, because we did not specify a specific subset of variables. If we wanted to specify this subset we could use value_vars and pass in a list of the other collumns (variables) that we want to see the values for relative to column 0. For example, if we only selected collumn 1, we would see the values at each position in the id_vars collumn from the corresponding index position in column 1. We can name these columns for clarity. 

### Print out information about new data frame
• `.shape` to get the dimensions of the dataframe. Here we have 96 rows and 3 collumns. This is because we are getting values from every collumn in the plate (12) for each of the 8 row labels (A-H) in collumn unnamed: 0. 

• `.head()` to view the first entries in the dataframe. This requires parenthasis in calling the attribute as .head is a function that can take in arguments and is not intrinsic to the data frame, in that you canspecify how many rows you want to see. 

• `.index or .index.values` to get the index range (0-96) which means it godes from 0 up to 95 not including 95 in steps of 1. or .index.values to get the actual values of the index, a list from 0-95. 

• `.columns` to get the collumn names. 

• `type()` with the dataframe as the argument to get the type of the object. In this case we check that the object is still a dataframe. This is important because there are certain ways of selecting from a dataframe where the sliced object, if only one column can become a series not a dataframe.

### tidy format of nucleofection buffer

In [16]:
lonza_nucleofection_buffer_96w_renamed_tidy = pd.melt(lonza_nucleofection_buffer_96w_renamed, 
                            id_vars= "lonza_nucleofection_buffer_row_letter", 
                            var_name="lonza_nucleofection_buffer_column_num",
                            value_name="lonza_nucleofection_buffer_well_value") #restructure data
print(lonza_nucleofection_buffer_96w_renamed_tidy.shape)
print(lonza_nucleofection_buffer_96w_renamed_tidy.head())

(96, 3)
  lonza_nucleofection_buffer_row_letter lonza_nucleofection_buffer_column_num  \
0                                     A                                     1
1                                     B                                     1
2                                     C                                     1
3                                     D                                     1
4                                     E                                     1

  lonza_nucleofection_buffer_well_value
0                             Buffer_P1
1                             Buffer_P1
2                             Buffer_P1
3                             Buffer_P1
4                             Buffer_P1

### tidy format for experimental condition plate

In [29]:
experimental_or_control_well_renamed_tidy = pd.melt(experimental_or_control_well_renamed, 
                            id_vars= "experimental_or_control_well_row_letter", 
                            var_name="experimental_or_control_well_column_num",
                            value_name="experimental_or_control_well_well_value") #restructure data
print(experimental_or_control_well_renamed_tidy.shape)
print(experimental_or_control_well_renamed_tidy.head())
print(experimental_or_control_well_renamed_tidy)

(96, 3)
  experimental_or_control_well_row_letter  \
0                                       A
1                                       B
2                                       C
3                                       D
4                                       E

  experimental_or_control_well_column_num  \
0                                       1
1                                       1
2                                       1
3                                       1
4                                       1

  experimental_or_control_well_well_value
0                                     exp
1                                     exp
2                                     exp
3                                     exp
4                                     exp
   experimental_or_control_well_row_letter  \
0                                        A
1                                        B
2                                        C
3                                        D
4                                        E
5                                        F
6                                        G
7                                        H
8                                        A
9                                        B
10                                       C
11                                       D
12                                       E
13                                       F
14                                       G
15                                       H
16                                       A
17                                       B
18                                       C
19                                       D
20                                       E
21                                       F
22                                       G
23                                       H
24                                       A
25                                       B
26                                       C
27                                       D
28                                       E
29                                       F
..                                     ...
66                                       C
67                                       D
68                                       E
69                                       F
70                                       G
71                                       H
72                                       A
73                                       B
74                                       C
75                                       D
76                                       E
77                                       F
78                                       G
79                                       H
80                                       A
81                                       B
82                                       C
83                                       D
84                                       E
85                                       F
86                                       G
87                                       H
88                                       A
89                                       B
90                                       C
91                                       D
92                                       E
93                                       F
94                                       G
95                                       H

   experimental_or_control_well_column_num  \
0                                        1
1                                        1
2                                        1
3                                        1
4                                        1
5                                        1
6                                        1
7                                        1
8                                        2
9                                        2
10                                       2
11                                       2
12                                       2
13                                       2
14                                       2
15                                       2
16                                       3
17                                       3
18                                       3
19                                       3
20                                       3
21                                       3
22                                       3
23                                       3
24                                       4
25                                       4
26                                       4
27                                       4
28                                       4
29                                       4
..                                     ...
66                                       9
67                                       9
68                                       9
69                                       9
70                                       9
71                                       9
72                                      10
73                                      10
74                                      10
75                                      10
76                                      10
77                                      10
78                                      10
79                                      10
80                                      11
81                                      11
82                                      11
83                                      11
84                                      11
85                                      11
86                                      11
87                                      11
88                                      12
89                                      12
90                                      12
91                                      12
92                                      12
93                                      12
94                                      12
95                                      12

   experimental_or_control_well_well_value
0                                      exp
1                                      exp
2                                      exp
3                                      exp
4                                      exp
5                                      exp
6                                      exp
7                                      exp
8                                      exp
9                                      exp
10                                     exp
11                                     exp
12                                     exp
13                                     exp
14                                     exp
15                                     exp
16                                     exp
17                                     exp
18                                     exp
19                                     exp
20                                     exp
21                                     exp
22                                     exp
23                                     exp
24                                     exp
25                                     exp
26                                     exp
27                                     exp
28                                     exp
29                                     exp
..                                     ...
66                                     exp
67                                     exp
68                                     exp
69                                     exp
70                                     exp
71                                     exp
72                                     exp
73                                     exp
74                                     exp
75                                     exp
76                                     exp
77                                     exp
78                                     exp
79                                     exp
80                                     exp
81                                     exp
82                                     exp
83                                     exp
84                                     exp
85                                     exp
86                                     exp
87                                     exp
88                                     exp
89                                     exp
90                                     exp
91                                     exp
92                                     exp
93                                     exp
94                                     exp
95                                   cntrl

[96 rows x 3 columns]

## Merge tidy data frames 
 if you have different names for the columns they do not merge the columns

In [30]:
lonza_nucleofection_buffer_96w_renamed_tidy.merge(experimental_or_control_well_renamed_tidy, left_on=['lonza_nucleofection_buffer_row_letter', "lonza_nucleofection_buffer_column_num"], 
                 right_on=['experimental_or_control_well_row_letter', "experimental_or_control_well_column_num"])

,lonza_nucleofection_buffer_row_letter,lonza_nucleofection_buffer_column_num,lonza_nucleofection_buffer_well_value,experimental_or_control_well_row_letter,experimental_or_control_well_column_num,experimental_or_control_well_well_value
0,A,1,Buffer_P1,A,1,exp
1,B,1,Buffer_P1,B,1,exp
2,C,1,Buffer_P1,C,1,exp
3,D,1,Buffer_P1,D,1,exp
4,E,1,Buffer_P1,E,1,exp
5,F,1,Buffer_P1,F,1,exp
6,G,1,Buffer_P1,G,1,exp
7,H,1,Buffer_P1,H,1,exp
8,A,2,Buffer_P1,A,2,exp
9,B,2,Buffer_P1,B,2,exp
10,C,2,Buffer_P1,C,2,exp
11,D,2,Buffer_P1,D,2,exp
12,E,2,Buffer_P1,E,2,exp
13,F,2,Buffer_P1,F,2,exp
14,G,2,Buffer_P1,G,2,exp
15,H,2,Buffer_P1,H,2,exp
16,A,3,Buffer_P1,A,3,exp
17,B,3,Buffer_P1,B,3,exp
18,C,3,Buffer_P1,C,3,exp
19,D,3,Buffer_P1,D,3,exp
20,E,3,Buffer_P1,E,3,exp
21,F,3,Buffer_P1,F,3,exp
22,G,3,Buffer_P1,G,3,exp
23,H,3,Buffer_P1,H,3,exp
24,A,4,Buffer_P1,A,4,exp
25,B,4,Buffer_P1,B,4,exp
26,C,4,Buffer_P1,C,4,exp
27,D,4,Buffer_P1,D,4,exp
28,E,4,Buffer_P1,E,4,exp
29,F,4,Buffer_P1,F,4,exp
...,...,...,...,...,...,...
66,C,9,Buffer_P3,C,9,exp
67,D,9,Buffer_P3,D,9,exp
68,E,9,Buffer_P3,E,9,exp
69,F,9,Buffer_P3,F,9,exp
70,G,9,Buffer_P3,G,9,exp
71,H,9,Buffer_P3,H,9,exp
72,A,10,Buffer_P3,A,10,exp
73,B,10,Buffer_P3,B,10,exp
74,C,10,Buffer_P3,C,10,exp
75,D,10,Buffer_P3,D,10,exp
76,E,10,Buffer_P3,E,10,exp
77,F,10,Buffer_P3,F,10,exp
78,G,10,Buffer_P3,G,10,exp
79,H,10,Buffer_P3,H,10,exp
80,A,11,Buffer_P3,A,11,exp
81,B,11,Buffer_P3,B,11,exp
82,C,11,Buffer_P3,C,11,exp
83,D,11,Buffer_P3,D,11,exp
84,E,11,Buffer_P3,E,11,exp
85,F,11,Buffer_P3,F,11,exp
86,G,11,Buffer_P3,G,11,exp
87,H,11,Buffer_P3,H,11,exp
88,A,12,Buffer_P3,A,12,exp
89,B,12,Buffer_P3,B,12,exp
90,C,12,Buffer_P3,C,12,exp
91,D,12,Buffer_P3,D,12,exp
92,E,12,Buffer_P3,E,12,exp
93,F,12,Buffer_P3,F,12,exp
94,G,12,Buffer_P3,G,12,exp
95,H,12,Buffer_P3,H,12,cntrl

In [ ]:
lonza_nucleofection_buffer_96w_renamed_tidy.merge(experimental_or_control_well_renamed_tidy, left_on=['lonza_nucleofection_buffer_row_letter', "lonza_nucleofection_buffer_column_num"], 
                 right_on=['experimental_or_control_well_row_letter', "experimental_or_control_well_column_num"])

In [158]:
wells_tidy['column_number'] = wells_tidy['Empty96ColNum'].astype(int)
print(wells_tidy.shape)
wells_tidy.head()

(96, 4)

  Unnamed: 0 Empty96ColNum Empty96WellID  column_number
0          A             1            A1              1
1          B             1            B1              1
2          C             1            C1              1
3          D             1            D1              1
4          E             1            E1              1

Wrong way! We did numbers, lettesr for `wells_tidy` and letters, numbers for `buffer_tidy`

In [154]:
wells_tidy.merge(buffer_tidy, left_on=[ "Empty96ColNum", 'Unnamed: 0',], 
                 right_on=['row_letter', 'column_number'])

Empty DataFrame
Columns: [Unnamed: 0, Empty96ColNum, Empty96WellID, row_letter, column_number, buffer_concentration]
Index: []

In [155]:
wells_tidy.merge(buffer_tidy, left_on=['Unnamed: 0', "Empty96ColNum"], 
                 right_on=['row_letter', 'column_number'])

Empty DataFrame
Columns: [Unnamed: 0, Empty96ColNum, Empty96WellID, row_letter, column_number, buffer_concentration]
Index: []

In [17]:
wells_tidy.merge(buffer_tidy, left_on=['Unnamed: 0', "column_number"], 
                 right_on=['row_letter', 'column_number'])

NameError: name 'wells_tidy' is not defined

In [70]:
Empty96W_ColumnList.columns

Index(['Empty96ColNum', 'Empty96WellID'], dtype='object')

In [72]:
type(Empty96W_ColumnList)

pandas.core.frame.DataFrame

In [107]:
SelectValues_Empty96WellID=Empty96W_ColumnList.iloc[:,1] # select needed collumn

In [108]:
SelectValues_Empty96WellID

0      A1
1      B1
2      C1
3      D1
4      E1
5      F1
6      G1
7      H1
8      A2
9      B2
10     C2
11     D2
12     E2
13     F2
14     G2
15     H2
16     A3
17     B3
18     C3
19     D3
20     E3
21     F3
22     G3
23     H3
24     A4
25     B4
26     C4
27     D4
28     E4
29     F4
     ...
66     C9
67     D9
68     E9
69     F9
70     G9
71     H9
72    A10
73    B10
74    C10
75    D10
76    E10
77    F10
78    G10
79    H10
80    A11
81    B11
82    C11
83    D11
84    E11
85    F11
86    G11
87    H11
88    A12
89    B12
90    C12
91    D12
92    E12
93    F12
94    G12
95    H12
Name: Empty96WellID, Length: 96, dtype: object

In [119]:
SelectValues_Empty96WellID_df=SelectValues_Empty96WellID.to_frame() # turn series into df

In [120]:
SelectValues_Empty96WellID_df

   Empty96WellID
0             A1
1             B1
2             C1
3             D1
4             E1
5             F1
6             G1
7             H1
8             A2
9             B2
10            C2
11            D2
12            E2
13            F2
14            G2
15            H2
16            A3
17            B3
18            C3
19            D3
20            E3
21            F3
22            G3
23            H3
24            A4
25            B4
26            C4
27            D4
28            E4
29            F4
..           ...
66            C9
67            D9
68            E9
69            F9
70            G9
71            H9
72           A10
73           B10
74           C10
75           D10
76           E10
77           F10
78           G10
79           H10
80           A11
81           B11
82           C11
83           D11
84           E11
85           F11
86           G11
87           H11
88           A12
89           B12
90           C12
91           D12
92           E12
93           F12
94           G12
95           H12

[96 rows x 1 columns]

In [109]:
type(SelectValues_Empty96WellID)

pandas.core.series.Series

In [79]:
Empty96W_ColumnList2=pd.melt(empty_96W, var_name="Empty96ColNum2",value_name="Empty96WellID2")

In [121]:
SelectValues_Empty96WellID2=Empty96W_ColumnList2.iloc[:,1]

In [122]:
SelectValues_Empty96WellID2

0      A1
1      B1
2      C1
3      D1
4      E1
5      F1
6      G1
7      H1
8      A2
9      B2
10     C2
11     D2
12     E2
13     F2
14     G2
15     H2
16     A3
17     B3
18     C3
19     D3
20     E3
21     F3
22     G3
23     H3
24     A4
25     B4
26     C4
27     D4
28     E4
29     F4
     ...
66     C9
67     D9
68     E9
69     F9
70     G9
71     H9
72    A10
73    B10
74    C10
75    D10
76    E10
77    F10
78    G10
79    H10
80    A11
81    B11
82    C11
83    D11
84    E11
85    F11
86    G11
87    H11
88    A12
89    B12
90    C12
91    D12
92    E12
93    F12
94    G12
95    H12
Name: Empty96WellID2, Length: 96, dtype: object

In [123]:
SelectValues_Empty96WellID2_df=SelectValues_Empty96WellID2.to_frame()

In [124]:
SelectValues_Empty96WellID2_df

   Empty96WellID2
0              A1
1              B1
2              C1
3              D1
4              E1
5              F1
6              G1
7              H1
8              A2
9              B2
10             C2
11             D2
12             E2
13             F2
14             G2
15             H2
16             A3
17             B3
18             C3
19             D3
20             E3
21             F3
22             G3
23             H3
24             A4
25             B4
26             C4
27             D4
28             E4
29             F4
..            ...
66             C9
67             D9
68             E9
69             F9
70             G9
71             H9
72            A10
73            B10
74            C10
75            D10
76            E10
77            F10
78            G10
79            H10
80            A11
81            B11
82            C11
83            D11
84            E11
85            F11
86            G11
87            H11
88            A12
89            B12
90            C12
91            D12
92            E12
93            F12
94            G12
95            H12

[96 rows x 1 columns]

In [125]:
pd.concat([SelectValues_Empty96WellID_df,SelectValues_Empty96WellID2_df], axis=1)

   Empty96WellID Empty96WellID2
0             A1             A1
1             B1             B1
2             C1             C1
3             D1             D1
4             E1             E1
5             F1             F1
6             G1             G1
7             H1             H1
8             A2             A2
9             B2             B2
10            C2             C2
11            D2             D2
12            E2             E2
13            F2             F2
14            G2             G2
15            H2             H2
16            A3             A3
17            B3             B3
18            C3             C3
19            D3             D3
20            E3             E3
21            F3             F3
22            G3             G3
23            H3             H3
24            A4             A4
25            B4             B4
26            C4             C4
27            D4             D4
28            E4             E4
29            F4             F4
..           ...            ...
66            C9             C9
67            D9             D9
68            E9             E9
69            F9             F9
70            G9             G9
71            H9             H9
72           A10            A10
73           B10            B10
74           C10            C10
75           D10            D10
76           E10            E10
77           F10            F10
78           G10            G10
79           H10            H10
80           A11            A11
81           B11            B11
82           C11            C11
83           D11            D11
84           E11            E11
85           F11            F11
86           G11            G11
87           H11            H11
88           A12            A12
89           B12            B12
90           C12            C12
91           D12            D12
92           E12            E12
93           F12            F12
94           G12            G12
95           H12            H12

[96 rows x 2 columns]